/* ============= # General ================= */
:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #f6f9ff;
    color: #444444;
}

a {
    color: #4167f1;
    text-decoration: none;
}

a:hover {
    color: #71a1f5;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

.control-error {
    color: #ce1212;
    font-size: 1em;
}